html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif;
  background-color: white;
  color: #003262;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

#map-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map, #street-view {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  box-sizing: border-box;
}

#map { border: 5px solid #003262; }      /* UCI Blue */
#street-view { border: 5px solid #FDB515; } /* UCI Gold */

#confirm-point-btn {
  margin-top: 10px;
}

#controls {
  text-align: center;
  margin-top: 20px;
}

.confirm-button, .continue-button {
  margin-top: 10px;
  display: inline-block;
  width: 140px;
  text-align: center;
  background-color: #003262;
  color: #FDB515;
  border: 2px solid #FDB515;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 0;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

#score-display {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #003262;
  font-family: "Nunito", sans-serif;
}
