
body {
        background-image: url("images/werw.gif");
        background-size: cover;         /* make it fill the page */
        background-repeat: no-repeat;   /* prevent it from tiling */
        background-position: center;    /* keep it centered */
        background-attachment: fixed;   /* optional: makes it stay still on scroll */
     }
h1 {
    color: white;
    text-align: center;
    margin-top: 30%;
    font-size: 175px;
    font-style: italic;
    font-weight: 1000;
}   

h1:hover {
  transform: scale(1.02);
}


h2 {
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 5%;

}

h2:hover {
  transform: scale(1.1);
}

h3 {
    color: white;
    text-align: center;
    font-size: 30px;
}

h3:hover {
  transform: scale(1.1);
}

a {
    text-decoration: none;
}

.sticker {
    position: fixed;
    top: 60%;
    bottom: 0%;
    left: 60%;
    width: 700px;
}

.sticker:hover {
  transform: scale(1.1);
}

.menu {
    position: fixed;  
    top: 30%;   
    left: 50%;   
    transform: translate(-50%, -50%); 
    text-align: center;
}