:root {
    --uci-blue: #003262;
    --uci-gold: #FDB515;
}

body {
    background-image: url("images/werw.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    color: var(--uci-gold);
    text-align: center;
    margin: 0;
    font-size: 160px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    transition: transform 0.2s ease;
}

h1:hover {
    transform: scale(1.02);
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;           
    margin-top: 50px;
}

.small-btn {
    background: var(--uci-blue);
    color: var(--uci-gold);
    border: 2px solid var(--uci-gold);
    padding: 18px 30px;
    border-radius: 14px;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease;
    text-align: center;
}

.small-btn:hover {
    transform: scale(1.12);
    background: var(--uci-gold);
    color: var(--uci-blue);
}

.play-btn {
    background: var(--uci-gold);
    color: var(--uci-blue);
    padding: 28px 80px;
    border-radius: 18px;
    font-size: 60px;
    font-weight: 800;
    border: 4px solid var(--uci-blue);
    text-decoration: none;
    transition: 0.2s ease;
    text-align: center;
}

.play-btn:hover {
    transform: scale(1.08);
    background: var(--uci-blue);
    color: var(--uci-gold);
}

a {
    text-decoration: none;
}


.sticker {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 500px;
    transition: transform 0.3s ease;
}

.sticker:hover {
    transform: scale(1.1);
}

.menu {
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}
