p {
    color: blue;
}
body {
        background-image: url("images/starry-night.webp");
     }
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
    color: white;
    text-align: center;
}