p {
    color: blue;
}
body {
        background-image: url("images/starry-night.webp");
     }
h1 {
    color: white;
    text-align: center;
    height: 250px;
    line-height: 350px;
    font-size: 100px;
    font-style: italic;
    font-weight: 700;
}   


h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 30px;
}