html, body {
      margin: 0;
      height: 100%;
      width: 100%;
    }
    #container {
      display: flex;
      height: 100%;
    }
    #map {
      width: 50%;
      height: 100%;
    }
    #street-view {
      width: 50%;
      height: 100%;
    }
    .confirm-button {
      margin-top: 5px;
      display: block;
      width: 80px;
      text-align: center;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 2px 0;
    }
#map {
        height: 500px;
        width: 100%;
      }